<div class="col-lg-12 col-md-12">
  <div class="card">
    <div class="card-header">
      Medicamentos prescritos a {{ selectedPatient.name }}
    </div>
    <div class="card-body">
      <div class="chart-wrapper text-center">
        <i class="fa fa-spin fa-spinner" *ngIf="chart.countMedicnes.loading"></i>
        <canvas baseChart class="chart"
                [data]="chart.countMedicnes.data"
                [labels]="chart.countMedicnes.labels"
                [chartType]="'doughnut'"
                *ngIf="!chart.countMedicnes.loading"></canvas>
      </div>
    </div>
  </div>
</div>