<div class="animated fadeIn">
    <div class="row">
        <div class="col">
            <div class="card text-center bg-primary">
                <div class="card-body">
                    <h1>Bem vindo à plataforma de prescrição de medicamentos</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="row" *ngIf="authService.isAuthenticated()">
        <div class="col-lg-12 col-md-12">
            <div class="card">
                <div class="card-header">
                    Filtros
                </div>
                <div class="card-body">
                    <div class="chart-wrapper text-center">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="date_picker">Datas</label>
                                    <input id="date_picker" name="date_picker" class="form-control" #drp="bsDaterangepicker" bsDaterangepicker [(ngModel)]="bsRangeValue">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="utente">Utente</label>
                                    <select name="utente" id="utente" class="form-control" [(ngModel)]="selectedPatient">
                                        <option *ngFor="let patient of patients" [ngValue]="patient">{{patient.name}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" *ngIf="authService.isAuthenticated()">
        <div class="col-lg-6 col-md-12">
            <div class="card">
                <div class="card-header">
                    Os meus utentes com mais receitas
                </div>
                <div class="card-body">
                    <div class="chart-wrapper text-center">
                        <i class="fa fa-spin fa-spinner" *ngIf="chart.countPatients.loading"></i>
                        <canvas baseChart class="chart"
                                [data]="chart.countPatients.data"
                                [labels]="chart.countPatients.labels"
                                chartType="bar" *ngIf="!chart.countPatients.loading"></canvas>
                    </div>
                </div>
            </div>
        </div>

        <user-medicines *ngIf="selectedPatient" [selectedPatient]="selectedPatient" [bsRangeValue]="bsRangeValue" ></user-medicines>

    </div>

</div>

