<div class="card">
    <div class="card-header text-center">
        <h3>Apresentações</h3>
    </div>
    <div class="card-body">
        <div class="form-group row mb-3">
            <label class="col-2 col-form-label">
                Procurar por fármaco:
            </label>
            <div class="col-10">
                <input type="text" name="name" class="form-control" [(ngModel)]="search">
            </div>
        </div>
        <div class="row">
            <div class="col">
                <table class="table table-bordered table-striped table-responsive">
                    <thead class="thead-inverse">
                        <tr>
                            <th>Fármaco</th>
                            <th>Forma</th>
                            <th>Concentração</th>
                            <th>Quantidade</th>
                            <th>Comentários</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngIf="apresentacoes.length == 0 && !loading">
                            <td colspan="5" class="text-center">Não existem apresentações</td>
                        </tr>
                        <tr *ngIf="loading">
                            <td colspan="5" class="text-center">
                                <i class="fa fa-spin fa-spinner" aria-hidden="true"></i>
                            </td>
                        </tr>
                        <tr *ngFor="let apresentacao of apresentacoes | nameSearchFilter: 'nomeFarmaco':search">
                            <td>{{apresentacao.nomeFarmaco}}</td>
                            <td>{{apresentacao.forma}}</td>
                            <td>{{apresentacao.concentracao}}</td>
                            <td>{{apresentacao.quantidade}}</td>
                            <td>
                                <button class="btn btn-dark" (click)="showCommentModal(apresentacao.id)" title="Ver comentários">
                                    <i class="fa fa-eye"></i>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>