<div class="app flex-row align-items-center">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card-group mb-0">
                    <div class="card p-4">
                        <div class="card-body">
                            <form (ngSubmit)="login()">
                                <h1>Iniciar sessão</h1>
                                <p class="text-muted">Inicie sessão na sua conta</p>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fa fa-user"></i></span>
                                    </div>
                                    <input type="text" class="form-control" placeholder="Email" name="email" [(ngModel)]="email">
                                </div>
                                <div class="input-group mb-4">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fa fa-lock"></i></span>
                                    </div>                                    
                                    <input type="password" class="form-control" placeholder="Password" name="password" [(ngModel)]="password">
                                </div>
                                <div class="row">
                                    <div class="col-6">
                                        <button type="submit" class="btn btn-primary px-4" (click)="login()" [disabled]="loading">
                                            <i class="fa fa-spinner fa-spin" *ngIf="loading"></i>
                                            <span *ngIf="!loading">Iniciar sessão</span>
                                        </button>
                                    </div>
                                    <!-- <div class="col-6 text-right">
                                        <button type="submit" class="btn btn-link px-0">Esqueçeu-se da password?</button>
                                    </div> -->
                                </div>
                            </form>
                        </div>
                    </div>
                    <!-- This div is only visible when the device is medium or small -->
                    <div class="card text-white bg-primary py-5 d-md-down-none" style="width:44%">
                        <div class="card-body text-center">
                            <div>
                                <h2>Não tem conta? Registe-se!</h2>
                                <p>Preencha um simples formulário de 5 minutos e terá acesso a várias funcionalidades relativas à prescrição de medicamentos efetuadas pelo seu médico.</p>
                                <a class="btn btn-primary active mt-3" routerLink="/auth/register">Registe-se agora!</a>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- This row is only visible when device is large or superior -->
        <div class="row justify-content-center d-lg-none">
            <div class="col-md-8">
                <div class="card text-white bg-primary py-5">
                    <div class="card-body text-center">
                        <div>
                            <h2>Não tem conta? Registe-se!</h2>
                            <p>Preencha um simples formulário de 5 minutos e terá acesso a várias funcionalidades relativas à prescrição de medicamentos efetuadas pelo seu médico.</p>
                            <a class="btn btn-primary active mt-3" routerLink="/auth/register">Registe-se agora!</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>