<div class="animated fadeIn">
    <div class="row">
        <div class="col">
            <div class="card text-center bg-primary">
                <div class="card-body">
                    <h1>Bem vindo à plataforma de aviamento de receitas</h1>
                </div>
            </div>
        </div>
    </div>
  <div class="row">
        <div class="col-lg-6 col-md-12">
            <div class="card">
                <div class="card-header">
                    Prescrições
                </div>
               <div class="card-body">
                    <div class="chart-wrapper text-center">
                        <i class="fa fa-spin fa-spinner" *ngIf="pies.prescricoes.loading"></i>
                        <canvas baseChart class="chart"
                        [data]="pies.prescricoes.data"
                        [labels]="pies.prescricoes.labels"
                        chartType="doughnut" *ngIf="!pies.prescricoes.loading"></canvas>
                    </div>
                </div> 
            </div>
        </div>
    </div>
</div>