<div class="card">
    <div class="card-header text-center">
        <h3>Receitas</h3>
    </div>
    <div class="card-body">
        <div class="row" *ngIf="authService.hasRole('medico')">
            <div class="col">
                <a class="btn btn-primary" routerLink="/receitas/criar">
                    <i class="fa fa-plus-circle"></i>
                    Criar receita
                </a>
            </div>
        </div>
        <!-- <div class="form-group row mb-3 mt-2">
            <label class="col-2 col-form-label">
                Procura por Nome:
            </label>
            <div class="col-10">
                <input type="text" name="name" class="form-control" [(ngModel)]="search">
            </div>
        </div> -->
        <div class="row">
            <div class="col">
                <table class="table table-bordered table-striped mt-2">
                    <thead class="thead-inverse">
                        <tr>
                            <th>Id</th>
                            <th>
                                <span *ngIf="authService.hasRole('medico')">Utente</span>
                                <span *ngIf="authService.hasRole('utente')">Médico</span>
                            </th>
                            <th>Data de criação</th>
                            <th>Última modificação</th>
                            <th>Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngIf="loading">
                            <td colspan="5" class="text-center">
                                <i class="fa fa-spin fa-spinner" aria-hidden="true"></i>
                            </td>
                        </tr>
                        <tr *ngIf="receitas && receitas.length == 0">
                            <td colspan="5" class="text-center">
                                Não existem receitas
                            </td>
                        </tr>
                        <tr *ngFor="let receita of receitas">
                            <td>{{receita._id}}</td>
                            <td>
                                <span *ngIf="authService.hasRole('medico')">{{receita.utente.name}}</span>
                            </td>
                            <td>{{receita.createdAt | formatDate: 'DD/MM/YYYY HH:mm'}}</td>
                            <td>{{receita.updatedAt | formatDate: 'DD/MM/YYYY HH:mm'}}</td>
                            <td>
                                <button class="btn btn-dark" title="Ver prescrições" (click)="showPrescription(receita.prescricoes)">
                                    <i class="fa fa-eye"></i>
                                </button>
                                <a class="btn btn-success" title="Editar receita" [routerLink]="['/receitas', receita._id, 'editar']" *ngIf="authService.hasRole('medico')">
                                    <i class="fa fa-pencil"></i>
                                </a>
                                <a class="btn btn-success" title="Ver detalhes" [routerLink]="['/receitas', receita._id, 'detalhes']" *ngIf="authService.hasRole('utente')">
                                    <i class="fa fa-external-link"></i>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>