<form (ngSubmit)="submitCode()" novalidate #f="ngForm">
<div class="modal-content">
  <div class="modal-header bg-primary">
      <h4 class="modal-title pull-left">Autenticação de dois fatores</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
          <span aria-hidden="true">&times;</span>
      </button>
  </div>
  <div class="modal-body">
      <div class="row">
          <div class="col text-center">
              <h5>Insira o código de autenticação:</h5>
              <input type="text" class="form-control" style="width: 200px;" maxlength="6" placeholder="Número de Autenticação" name="a2f" [(ngModel)]="a2f" >
          </div>
      </div>    
  </div>
  <div class="modal-footer"> 
      <button class="btn btn-success" type="submit" (click)="authService.setCode(a2f)">
        <i class="fa fa-save"></i> Enviar
      </button>
  </div>
</div>
</form>