<form (ngSubmit)="dispatch()" novalidate #f="ngForm">
    <div class="modal-header bg-primary">
        <h4 class="modal-title pull-left">Aviamentos da prescrição</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col text-center">
                <h5>Lista de aviamentos já efetuados</h5>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col">
                <table class="table table-bordered table-striped table-sm mt-2">
                    <thead class="thead-inverse">
                        <tr>
                            <th>Data</th>
                            <th>Farmácia</th>
                            <th>Farmacêutico</th>
                            <th>Quantidade</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngIf="prescricao.aviamentos.length === 0">
                            <td colspan="4" class="text-center">Ainda não foram efetuados aviamentos</td>
                        </tr>
                        <tr *ngFor="let aviamento of prescricao.aviamentos">
                            <td>{{aviamento.data | formatDate:'DD/MM/YYYY HH:mm'}}</td>
                            <td>{{aviamento.farmacia}}</td>
                            <td>{{aviamento.farmaceutico}}</td>
                            <td>{{aviamento.quantidade}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div  *ngIf="authService.hasRole('farmaceutico') ">
            <div class="row mt-3">
                <div class="col text-center">
                    <h5>Aviar</h5>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-lg-2 offset-lg-5 col-sm-6 offset-sm-3">
                    <div class="input-group">
                        <input type="number" name="quantidade" [(ngModel)]="form.quantidade" min="1" [max]="prescricao.quantidade" class="form-control">
                        <div class="input-group-btn">
                            <button type="button" class="btn btn-dark" (click)="form.quantidade = prescricao.quantidade">
                                <i class="fa fa-bolt"></i>
                            </button>
                        </div>
                        <div class="invalid-feedback">A quantidade é inválida</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-success" type="submit" *ngIf="authService.hasRole('farmaceutico')">
            <i class="fa fa-save"></i> Guardar
        </button>
        <button type="button" class="btn btn-danger" (click)="bsModalRef.hide()">
            <i class="fa fa-times-circle"></i> Fechar
        </button>
    </div>
</form>