<div class="modal-header bg-primary">
    <h4 class="modal-title pull-left">Prescrição</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col">
            <table class="table table-bordered table-striped table-sm mt-2">
                <thead>
                    <tr>
                        <th>Fármaco</th>
                        <th>Apresentação</th>
                        <th>Medicamento</th>
                        <th>Posologia</th>
                        <th>Data de validade</th>
                        <th>Quantidade</th>
                        <th>Estado</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngIf="prescricoes.length == 0">
                        <td colspan="7">Não existem prescrições</td>
                    </tr>
                    <tr *ngFor="let prescricao of prescricoes">
                        <td>{{prescricao.nomeFarmaco}}</td>
                        <td>{{prescricao.forma}}, {{prescricao.concentracao}}, {{prescricao.embalagem}}</td>
                        <td>{{prescricao.nomeMedicamento}}</td>
                        <td>{{prescricao.posologia}}</td>
                        <td>{{prescricao.dataValidade | formatDate}}</td>
                        <td>{{prescricao.quantidade}}</td>
                        <td>
                            <span *ngIf="prescricao.aviamentos.length == 0">Por aviar</span>
                            <span *ngIf="prescricao.aviamentos.length > 0 && prescricao.quantidade > 0">Parcialmente aviada</span>
                            <span *ngIf="prescricao.aviamentos.length > 0 && prescricao.quantidade == 0">Totalmente aviada</span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-danger" (click)="bsModalRef.hide()">
        <i class="fa fa-times-circle"></i> Fechar
    </button>
</div>
