<div class="app flex-row align-items-center">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-md-6">
				<div class="card mx-4">
					<div class="card-body p-4">
						<h1>Registe-se</h1>
						<p class="text-muted">Crie a sua conta</p>
						<div class="input-group mb-3">
							<div class="input-group-prepend">
								<span class="input-group-text"><i class="fa fa-envelope"></i></span>
							</div>	
							<input type="text" class="form-control" placeholder="Email" name="email" [(ngModel)]="email">
						</div>

						<div class="input-group mb-3">
							<div class="input-group-prepend">
								<span class="input-group-text"><i class="fa fa-user"></i></span>
							</div>
							<input type="text" class="form-control" placeholder="Nome" name="name" [(ngModel)]="name">
						</div>

						<div class="input-group mb-3">
							<div class="input-group-prepend">
								<span class="input-group-text"><i class="fa fa-lock"></i></span>
							</div>
							<input type="password" class="form-control" placeholder="Password" name="password" [(ngModel)]="password">
						</div>

						<div class="input-group mb-3">
							<div class="input-group-prepend">
								<span class="input-group-text"><i class="fa fa-lock"></i></span>
							</div>
							<input type="password" class="form-control" placeholder="Repita a password" name="password2" [(ngModel)]="passwordConfirmation">
						</div>

						<div class="input-group mb-3">
							<div class="input-group-prepend">
								<span class="input-group-text">
									<input type="checkbox" name="terms" [(ngModel)]="terms">
								</span>
							</div>
							<label class="form-control">Aceitar os termos e condições</label>
				  		</div>

						<div class="input-group mb-4">
							<div class="input-group-prepend">
								<span class="input-group-text" style="margin-top:0px;"><i class="fa fa-align-justify"></i></span>
							</div>
							<div class="form-control text-justify">
									Para utilizar este website é solicitado ao Utilizador que forneça previamente à PIMedica, 
									que certos dados de caráter pessoal que adiante serão denominados "Dados Pessoais". 
									A PIMedica garante a salvaguarda do direito à proteção de todos os Dados Pessoais, 
									nos termos do disposto na Lei n.º 67/98, de 26 de Outubro (Lei da Proteção dos Dados Pessoais), 
									que sejam prestados voluntariamente pelo seu titular, Utilizador deste website, 
									e cujo tratamento é inequivocamente autorizado por este, os quais serão tratados pela PIMedica de forma confidencial, 
									nos termos da legislação nacional e comunitária em vigor. Chama-se a atenção do utilizador de que, 
									para o correto funcionamento de algumas funcionalidades presentes e/ou futuras neste website, 
									se o titular não autorizar a inclusão dos seus dados pessoais nos ficheiros automatizados da 
									PIMedica e o seu posterior envio e tratamento informático, nenhuma consulta, contacto, por meio eletrónico, 
									poderão ser levados a efeito. Os dados que sejam fornecidos neste website poderão ser incluídos em 
									ficheiros automatizados, que se destinarão apenas às finalidades expressamente da atividade da PIMedica, 
									suporte a prescrição informática de medicamentos. Mais se informa que os dados aqui inseridos, 
									terão uma validade de um ano após o último login neste Website, findo este período os mesmos serão eliminados. 
									Ao assinalar esta opção, o utilizador está a concordar com os termos acima referidos.
							</div>
						</div>
				
						<button type="submit" class="btn btn-block btn-success mb-3" (click)="register()" [disabled]="loading">
                            <i class="fa fa-spinner fa-spin" *ngIf="loading"></i>
                            <i class="fa fa-save" *ngIf="!loading"></i>
							<span *ngIf="!loading">Criar conta</span>
                        </button>
                        <a class="btn btn-primary btn-block" routerLink="/auth/login">
                            <i class="fa fa-external-link" aria-hidden="true"></i>
                            Já tenho conta. Iniciar sessão
                        </a>

						<div *ngIf="errors.length">
							<h2>Erros</h2>
							<ul class="bg-danger">
								<li *ngFor="let error of errors">
									{{error}}
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

