<div class="card">
    <div class="card-header text-center">
        <h3>Encomendas Entregues</h3>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col">
                <table class="table table-bordered table-striped table-responsive">
                    <thead class="thead-inverse">
                    <tr>
                        <th>Identificador</th>
                        <th>Farmácia</th>
                        <th>Medicamento</th>
                        <th>Quantidade</th>
                        <th>Data da encomenda</th>
                        <th>Horario de entrega</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngIf="orders.length == 0 && !loading">
                        <td colspan="6" class="text-center">Não existem encomendas</td>
                    </tr>
                    <tr *ngIf="loading">
                        <td colspan="6" class="text-center">
                            <i class="fa fa-spin fa-spinner" aria-hidden="true"></i>
                        </td>
                    </tr>
                    <tr *ngFor="let order of orders ">
                        <td>{{order._id}}</td>
                        <td>{{order.pharmacy.name}}</td>
                        <td>{{order.medicineId}}</td>
                        <td>{{order.quantity}}</td>
                        <td>{{order.orderDate}}</td>
                        <td>{{order.pharmacy.delivery_time}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>