<div class="card">
  <div class="card-header text-center">
      <h3>Entregas</h3>
  </div>
  <div class="card-body">
      <!--<div class="form-group row mb-3">
          <label class="col-2 col-form-label">
              Procurar por Encomenda:
          </label>
          <div class="col-10">
              <input type="text" name="name" class="form-control" [(ngModel)]="search">
          </div>
      </div>-->
      <div class="row">
          <div class="col">
              <table class="table table-bordered table-striped table-responsive">
                  <thead class="thead-inverse">
                      <tr>
                          <th>Identificador</th>
                          <th>Encomendas processadas</th>
                          <th>Percurso de entrega</th>
                          <!--<th>Data de entrega</th>
                          <th>Relatório de entrega</th>-->
                      </tr>
                  </thead>
                  <tbody>
                      <tr *ngIf="deliveries.length == 0 && !loading">
                          <td colspan="6" class="text-center">Não existem encomendas</td>
                      </tr>
                      <tr *ngIf="loading">
                          <td colspan="6" class="text-center">
                              <i class="fa fa-spin fa-spinner" aria-hidden="true"></i>
                          </td>
                      </tr>
                      <tr *ngFor="let delivery of deliveries ">
                          <td>{{delivery._id}}</td>
                          <td><a routerLink="/entregas/{{delivery._id}}">ver encomendas</a></td>
                          <td><a routerLink="/entregas/{{delivery._id}}/map">ver percurso</a></td>
                          <!-- <td><a (click)="umMetodoQueEstejaNo({{delivery._id}})">ver percurso</a> -->
                          <!--<td>{{delivery.orders[0].deliveryDate}}</td>
                          <td>
                              <button class="btn btn-dark" (click)="showCommentModal(order.id)" title="Ver comentários">
                                  <i class="fa fa-eye"></i>
                              </button>
                          </td>
                        -->
                      </tr>
                  </tbody>
              </table>
          </div>
      </div>
  </div>
</div>