<div class="card">
    <div class="card-header">
        Editar receita
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col">
                <button class="btn btn-primary" (click)="addPrescription()">
                    <i class="fa fa-plus"></i>
                    Adicionar prescrição
                </button>
            </div>
        </div>
        <div class="row mt-3">
            <strong class="col-md-2 col-sm-4">Utente:</strong>
            <div class="col-md-4 col-sm-8">{{receita.utente?.name}}</div>
        </div>
        <div class="row">
            <strong class="col-md-2 col-sm-4">Data de criação:</strong>
            <div class="col-md-4 col-sm-8">{{receita.createdAt | formatDate:'DD/MM/YYYY HH:mm'}}</div>
        </div>
        <div class="row">
            <strong class="col-md-2 col-sm-4">Última alteração:</strong>
            <div class="col-md-4 col-sm-8">{{receita.updatedAt | formatDate:'DD/MM/YYYY HH:mm'}}</div>
        </div>
        <div class="row mt-3">
            <div class="col">
                <table class="table table-bordered table-stripped table-responsive">
                    <thead class="thead-inverse">
                        <tr>
                            <th>Fármaco</th>
                            <th>Apresentação</th>
                            <th>Medicamento</th>
                            <th>Posologia</th>
                            <th>Quantidade</th>
                            <th>Data de validade</th>
                            <th>Ações</th>
                        </tr>
                    </thead>
                    <tr *ngIf="!receita.prescricoes || (receita.prescricoes && receita.prescricoes.length == 0)" class="text-center">
                        <td colspan="7"><i class="fa fa-spin fa-spinner"></i></td>
                    </tr>
                    <tr *ngFor="let prescricao of receita.prescricoes; let number = index">
                        <td>{{prescricao.nomeFarmaco}}</td>
                        <td>{{prescricao.forma}}, {{prescricao.concentracao}}, {{prescricao.embalagem}}</td>
                        <td>{{prescricao.nomeMedicamento}}</td>
                        <td>{{prescricao.posologia}}</td>
                        <td>{{prescricao.quantidade}}</td>
                        <td>{{prescricao.dataValidade | formatDate}}</td>
                        <td>
                            <button type="button" title="Editar" class="btn btn-primary" (click)="editPrescription(number)" *ngIf="prescricao.aviamentos.length == 0" [disabled]="loading">
                                <i class="fa fa-spin fa-spinner" *ngIf="loading"></i>
                                <i class="fa fa-pencil" *ngIf="!loading"></i>
                            </button>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>