<div class="card">
    <div class="card-header text-center">
        <h3>Mapa</h3>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col">
                <agm-map [latitude]="41.1506096" [longitude]="-8.6108667 " [zoom]="13">
                    <agm-marker *ngFor="let farmacia of farmacias" [latitude]="farmacia.lat" [longitude]="farmacia.long"
                                [title]="farmacia.name" [openInfoWindow]="true" ></agm-marker>
                
                    <agm-polyline>
                        <agm-polyline-point  *ngFor="let farmacia of farmacias"  [latitude]="farmacia.lat" [longitude]="farmacia.long" ></agm-polyline-point>
                    </agm-polyline>
                
                </agm-map>
            </div>
        </div>
    </div>
  </div>

<div class="card">
    <div class="card-header text-center">
        <h3>Ruas Percorridas</h3>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col">
              {{percurso_total}}
            </div>
        </div>
    </div>
  </div>
  