<div class="animated fadeIn">
    <div class="row">
        <div class="col">
            <div class="card text-center bg-primary">
                <div class="card-body">
                    <h1>Bem vindo à plataforma de gestão de rotas de fornecimento de medicamentos</h1>
                </div>
            </div>
        </div>
    </div>

</div>