<div class="animated fadeIn">
    <div class="row">
        <div class="col">
            <div class="card text-center bg-primary">
                <div class="card-body">
                    <h1>Bem vindo à plataforma de prescrição de medicamentos</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="row" *ngIf="authService.isAuthenticated()">
        <div class="col-lg-6 col-md-12">
            <div class="card">
                <div class="card-header">
                    Prescrições
                </div>
                <div class="card-body">
                    <div class="chart-wrapper text-center">
                        <i class="fa fa-spin fa-spinner" *ngIf="pies.prescricoes.loading"></i>
                        <canvas baseChart class="chart"
                        [data]="pies.prescricoes.data"
                        [labels]="pies.prescricoes.labels"
                        chartType="doughnut" *ngIf="!pies.prescricoes.loading"></canvas>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="col-lg-6 col-md-12">
            <div class="card">
                <div class="card-header">
                    Prescrições a expirar
                </div>
                <div class="card-body">
                    <div class="chart-wrapper text-center">
                        <i class="fa fa-spin fa-spinner" *ngIf="pies.utente.loading"></i>
                        <canvas baseChart class="chart"
                        [data]="pies.utente.data"
                        [labels]="pies.utente.labels"
                        chartType="doughnut" *ngIf="!pies.utente.loading"></canvas>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-6 col-md-12">
            <div class="card">
                <div class="card-header">
                    Filtros
                </div>
                <div class="card-body">
                    <div class="chart-wrapper text-center">
                        <div class="form-group">
                            <label for="date_picker">Datas</label>
                            <input id="date_picker" name="date_picker" class="form-control" #drp="bsDaterangepicker" bsDaterangepicker [(ngModel)]="bsRangeValue">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <user-medicines [selectedPatient]="user" [bsRangeValue]="bsRangeValue"></user-medicines>

    </div>
</div>

