<form (ngSubmit)="redirect()" novalidate #f="ngForm">
    <div class="modal-content">
        <div class="modal-header bg-primary">
            <h4 class="modal-title pull-left">QR Code</h4>
            <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col text-center">
                    <h5>Leia o QR Code com a aplicação Google Authenticator</h5>
                </div>
            </div>
            <div class="row">
                <div class="col text-center">
                    <img src="{{authService.getQrKey()}}" style="padding: 10px">          
                </div>
            </div>    
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-danger" (click)="bsModalRef.hide()">
                <i class="fa fa-times-circle"></i> Fechar
            </button>
        </div>
    </div>
</form>