<header class="app-header navbar">
    <button class="navbar-toggler d-lg-none" type="button" appMobileSidebarToggler>&#9776;</button>
    <a class="navbar-brand" routerLink=""></a>
    <button class="navbar-toggler d-md-down-none" type="button" appSidebarToggler>&#9776;</button>
    
    <ul class="nav navbar-nav ml-auto">
        <app-notifications></app-notifications>
        <li class="nav-item dropdown mr-4" dropdown (onToggle)="toggled($event)">
            <a href class="nav-link dropdown-toggle" dropdownToggle (click)="false">
                <img src="assets/img/avatars/default.png" class="img-avatar" [alt]="user.email">
                <span class="d-md-down-none">{{user.name}}</span>
            </a>
            <div class="dropdown-menu dropdown-menu-right" *dropdownMenu aria-labelledby="simple-dropdown">
                <div *ngIf="authService.isAuthenticated()">
                    <button type="button" class="dropdown-item" (click)="logout()"><i class="fa fa-lock"></i>Terminar sessão</button>
                </div>
                <div *ngIf="!authService.isAuthenticated()">
                    <a routerLink="/auth/login" class="dropdown-item"><i class="fa fa-sign-in"></i>Iniciar sessão</a>
                </div>
            </div>
        </li>
    </ul>
</header>

<div class="app-body">  
    <div class="sidebar">
        <nav class="sidebar-nav">
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active" routerLink="/home">
                        <i class="fa fa-feed"></i> Home 
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active" routerLink="/encomendas">
                        <i class="fa fa-truck"></i> Encomendas
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active" routerLink="/entregas">
                        <i class="fa fa-shopping-bag"></i> Entregas
                    </a>
                </li>


            </ul>
        </nav>
    </div>
    
    <!-- Main content -->
    <main class="main">
        
        <!-- Breadcrumb -->
        <ol class="breadcrumb">
            <app-breadcrumbs></app-breadcrumbs>
        </ol>
        
        <div class="container-fluid">
            <router-outlet></router-outlet>
        </div><!-- /.conainer-fluid -->
    </main>
</div>

<footer class="app-footer">
    Prescrição informática de medicamentos &copy; 2017 ARQSI.
    <span class="float-right">1050257 | 1110451 | 1151049 | 1151050 | 1151071 | 1151167 - Powered by <a href="http://coreui.io">CoreUI</a></span>
</footer>
