<form novalidate #f="ngForm">
    <div class="modal-header">
        <h4 class="modal-title pull-left">Comentários da apresentação</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col">
                <table class="table table-hover table-striped table-bordered table-responsive table-sm">
                    <thead class="thead-inverse">
                        <tr>
                            <th>Data</th>
                            <th>Comentário</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngIf="comentarios.length == 0 && !loading">
                            <td colspan="2" class="text-center">Ainda não foram efetuados comentários</td>
                        </tr>
                        <tr *ngIf="loading">
                            <td colspan="2" class="text-center">
                                <i class="fa fa-spin fa-spinner" aria-hidden="true"></i>
                            </td>
                        </tr>
                        <tr *ngFor="let comentario of comentarios">
                            <td>{{comentario.data | formatDate}}</td>
                            <td>{{comentario.texto}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-danger" (click)="bsModalRef.hide()">
            <i class="fa fa-times-circle"></i> Fechar
        </button>
    </div>
</form>