<form (ngSubmit)="select()">
  <div class="modal-header bg-primary">
    <h4 class="modal-title pull-left">Farmácias</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">
    <div class="row">
      <div class="col text-center">
        <h5>Selecione uma farmácia</h5>
      </div>
    </div>

    <div *ngIf="authService.hasRole('farmaceutico')">
      <div class="form-group row">
        <label for="farmacia" class="col-md-2 col-sm-4"><strong>Farmacia:</strong></label>
        <div class="col-md-4 col-sm-8">
          <select name="farmacia" id="farmacia" class="form-control" [(ngModel)]="farmacia">
            <option *ngFor="let farmacia of farmacias" [ngValue]="farmacia._id">{{farmacia.name}}</option>
          </select>
        </div> 
      </div>
    </div>

    <div class="modal-footer">
      <button class="btn btn-success" type="submit" *ngIf="authService.hasRole('farmaceutico') && farmacia != null" (click)="authService.setFarmacia(farmacia)">
        <i class="fa fa-save"></i> Escolher
      </button>
    </div>

  </div>
</form>